<div class="panel panel-default">
  <div class="panel-body">

    <form id="document-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Document Title:</label>
          <input type="text" id="name" class="form-control" size="120" max="120" [ngModel]="document?.name" name="name"
            required #name="ngModel">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="description">Document Description:</label>
          <input type="text" id="description" class="form-control" size="120" max="255"
            [ngModel]="document?.description" name="description">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="url">Document URL:</label>
          <input type="text" id="url" class="form-control" size="150" max="255" [ngModel]="document?.url" name="url"
            required #url="ngModel">
        </div>
      </div>
      <div class="row" *ngIf="!f.valid && f.touched">
        <div class="col-sm-12">
          <div class="alert alert-danger">
            <div>
              <p>Please fix the following errors:</p>
              <ul>
                <li *ngIf="!name.valid">Document Title is required.</li>
                <li *ngIf="!url.valid">Document URL is required.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>

    </form>

  </div>
</div>